@model EP.UI.Dtos.EducationDtos.CreateEducationDto
@{
    ViewData["Title"] = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Eğitim Ekleme İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Eğitm Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Eğitim Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="EducationName" id="categoryname">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Eğitim Türünü Seçiniz</label>
                                <select class="form-control" asp-for="EducationType" id="categoryname">
                                    <option value="Online">Online</option>
                                    <option value="Sınıf İçi Eğitim">Sınıf İçi Eğitim</option>
                                    <option value="Kitap">Kitap</option>
                                    <option value="Makale">Makale</option>
                                    <option value="Mini Proje">Mini Proje</option>
                                    <option value="Sunum">Sunum</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Eğitmen Seçiniz</label>
                                <select class="form-control" asp-for="EducationTime" id="categoryname">
                                    <option value="İç Eğitmen">İç Eğitmen</option>
                                    <option value="Dış Eğitmen">Dış Eğitmen</option>
   
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Eğitim Fiyatı Giriniz</label>
                                <input type="text" class="form-control" asp-for="EducationPrice" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Eğitim Kontenjanı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Capacity" id="categoryname">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Eğitimi Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
